extends layout

block content
  div(id="job_#{job.id}",class="jobs #{ job.status }")
    a(href='/') Home
    #jobContent
      - if(job.url)
        h1 
          a(href=job.url) #{job.name}
      - else
        h1 #{job.name}
      - if(job.timestamp)
        div(id="timestamp_#{job.id}",class="timestamp") #{ job.timestamp }
      p#jobMsg!= job.msg
      - if(job.msg2)
        div(id="jobMsg2_#{job.id}",class="jobMsg2")!= job.msg2

