extends layout

block content
  .jobs
    - cols = Math.floor( Math.sqrt( jobArray.length ) );
    - rows = Math.ceil( jobArray.length / cols );
    for job in jobArray
      div(id="job_#{job.id}",class="job #{ job.status }",style='float: left; width: ' + 100/cols + '%; height: ' + (100/rows) + '%;' )
        #jobContent.content
          - if(job.url)
            h1 
              a(href=job.url,id='name_#{job.id}')= job.name
          - else
            h1(id='name_#{job.id}')= job.name
          - if(job.timestamp)
            div(id="timestamp_#{job.id}",class="timestamp")= job.timestamp
          - if(job.msg2)
            a(href='/detail/' + job.id,id='msg_' + job.id)!= job.msg
            ...
          - else
            p(id='msg_' + job.id)!= job.msg
